<h2>Articles List</h2>
<div>
	<label for="customFilter">Filtro por: </label>
	<input name="customFilter" ng-model="customFilter" />
</div>
<a ui-sref="^.create" class="button">Create article</a>
<table>
	<tr>
		<td>
			<a ng-click="customOrder = customOrder === '+fullTitle' ? '-fullTitle' : '+fullTitle'" style="cursor: pointer; font-size: 1.2em">Title (clicar para order por title)</a>
		</td>
		<td>
			<a ng-click="customOrder = customOrder === '+updatedAt' ? '-updatedAt' : '+updatedAt'" style="cursor: pointer; font-size: 1.2em">UpdatedAt (clicar para order por updatedAt)</a>
		</td>
		<td>Slug</td>
		<td>Action</td>
	</tr>
	<tr ng-repeat="item in articles.articles | orderBy: customOrder | filter: customFilter">
		<td>
			<a ui-sref="^.edit({id: item.id, titleSlug: item.titleSlug})">{{item.fullTitle}}</a>
		</td>
		<td>{{item.updatedAt|date}}</td>
		<td>{{item.slug}}</td>
		<td>
			<a ui-sref="^.view({id: item.id})">View</a>
			<a href="" ng-click="articles.remove($index)">Remove</a>
		</td>
	</tr>
</table>